Facil/Connected Services/ClienteServiceReference/Cliente_Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52691/Cliente_Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Facil.Objetos" />
  <xs:element name="ListarClientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Facil.Objetos" minOccurs="0" name="ListarClientesResult" nillable="true" type="q1:ArrayOfClientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Facil.Objetos" minOccurs="0" name="BuscarClienteResult" nillable="true" type="q2:Clientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cpf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idTipoCliente" type="xs:int" />
        <xs:element minOccurs="0" name="sexo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idSituacaoCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCliente" type="xs:int" />
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cpf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idTipoCliente" type="xs:int" />
        <xs:element minOccurs="0" name="sexo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idSituacaoCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AlterarClienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>